/*Tin Htoo Aung*/
body{
    background-color: #caf0f7;
    font-size: 16px;
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
    width: 70%;
    margin: auto;
}

h1{
    width: 50%;
    background-color: lightcyan;
    border: 15px dotted darkblue;
    margin: 50px auto;
    text-align: center;
    padding: 8px;
}

h2 {
    background-color: lightyellow;
    padding: 8px;
}

p {
    line-height: 2em;
}

nav li {
    list-style: none;
    display: inline;
    padding: 8px;
}

#timetable {
    border-collapse: collapse;
    width: 100%;
}

#timetable th, td {
   border: 1px solid green;
   padding: 5px;
}

#timetable caption {
    padding: 5px;
    font-weight: bold;
    color: green;
}

#timetable th {
    background-color: green;
    color: white;
}

#timetable td {
    background-color: white;
    color: green;
}
